## automation
*.pyc
/framework/.venv/
/framework/**/.cache/
/framework/**/assets/style.css
/framework/**/__pycache__/
/framework/*tests/*.xml
/framework/*tests/*.html
/framework/test_results/
/framework/test_resources/download_temp/
/framework/ca_ui_selenium_tests/ca_ui_config.yaml
/framework/ca_ui_selenium_tests/geckodriver.log
/framework/ca2_ui_selenium_tests/ca2_ui_config.yaml
/framework/ca_api_tests/allure
/framework/ca_api_tests/*.txt
/framework/ca_api_tests/*.bat
/framework/ca_api_tests/api_config.yaml
/framework/ca_api_tests/test.pdf
/framework/lookup_api_tests/allure
/framework/lookup_api_tests/*.txt
/framework/lookup_api_tests/*.bat
/framework/pips_ui_selenium_tests/pips_ui_config.yaml
/framework/pips_api_tests/pips_api_config.yaml
/framework/utils/renamer_output.txt
/framework/doc_build/
/framework/ca_perf_tests/logs/
/framework/ca_perf_tests/xml/
/framework/ca_perf_tests/reports/
/framework/ca_perf_tests/recorder/
/framework/utils/ui/ui_config.yaml
/tools/start_applications/*.log
/docs/release_docs/*.docx
/docs/release_docs/*.xlsx
yarn-error.log

/test_results/
/pythonenvironment/
/PLOC/result/
/PLOC/allure-report/
/PLOC/python*/
/pips*
/PLAT*
/ca2_js/
